/* outer div style */
.App {
  text-align: center;
}

/* inner div style */
.blue-card{
  background-color: aqua;
  margin: 200px 350px 50px 350px;
  height: 400px;
  width: 600px;
  display: inline-block;
}